Package: com.rpetrich.chromecustomization
Priority: optional
Section: System
Architecture: iphoneos-arm
Version: 0.1
Description: Customize the Chrome browser
Name: ChromeCustomization
Depends: firmware (>= 5), mobilesubstrate, preferenceloader (>= 2)
Author: Ryan Petrich <rpetrich+chromecustomization@gmail.com>
